
 <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
   <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
     <div class="col" *ngFor="let annonce of Annonces; let i = index"> <div class="card h-100 shadow-sm" >
      <img src="{{annonce.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="clearfix mb-3">
          <span class="float-start badge rounded-pill bg-primary">{{annonce.title}}</span>
           <span class="float-end price-hp">{{annonce.date_ajout}}</span>
           </div>
      <h5 class="card-title">{{annonce.description}}</h5>
       <div class="text-center my-4">
        <!-- <button class="btn btn-sm btn-primary" routerLink="/details/{{annonce._id}}">Edit</button> <br> -->
            <button class="btn btn-sm btn-danger" (click)="delete(annonce._id, i)">Delete</button>
       </div>
       </div>
      </div>
    </div>





         </div>
         </div>





